* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    line-height: 24px;
}

body {
    margin: 0;
    background-color: #fafafa;
}

.container {
    width: 55%;
    margin: auto;
}

@media (max-width: 900px) {
    .container {
        width: 95%;
    }
}

a {
    outline: none;
    text-decoration: none;
    color: black;
}

.header {
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    z-index: 5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    background-image: url("../img/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.top-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: auto;
    height: 57px;
    color: white;
}

.top-header__title {
    margin-top: 17px;
    margin-left: 77px;
    font-size: 1.25em;
    font-weight: 500;
    color: white;
}

.top-header__title::before {
    content: url("../img/logo.png");
    position: absolute;
    left: 20px;
    top: 8px;
}

.top-header__exit {
    margin-top: 15px;
    margin-right: 2.8%;
}

.top-header__exit a {
    font-size: 0.875em;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
}

.tabs {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 55px;
    z-index: 10;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
}

@media (max-width: 700px) {
    .tabs {
        height: 60px;
    }
}

.tabs__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0;
    height: 40px;
}

.tabs__list li {
    list-style: none;
    width: 25%;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .tabs__list li {
        height: 60px;
    }
}

.tabs__list li:hover {
    background: rgba(117, 117, 117, 0.1);
}

.tabs__list li.selected {
    background-color: #d6d6d6;
}

.tabs__list--link {
    display: -ms-flexbox;
    /* display: flex; */
    font-size: 0.875em;
    display: inline-block;
    font-weight: 500;
    width: 100%;
    color: #757575;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

li.selected .tabs__list--link {
    color: rgba(16, 16, 16, 0.87);
}

ul {
    padding: 0;
}

.event__item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 18px;
    padding-bottom: 19px;
    background-color: white;
    border-bottom: 2px solid rgba(117, 117, 117, 0.12);
    color: black;
}

.view-type-1 .event__item {
    display: block;
    padding: 0;
}

.event__item--date {
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.view-type-1 .event__item--date {
    display: block;
    width: 100%;
}

.view-type-1 .event__item--date div {
    display: inline-block;
}

.additional-info {
    display: none;
    padding: 5px 35px;
    border-top: 1px solid lightgrey;
}

.additional-info.show {
    display: block;
}

.additional-info > p > span:first-child {
    color: grey;
}

.event__item--day {
    font-size: 70px;
    line-height: 70px;
}

.view-type-1 .event__item--day {
    font-size: 20px;
    line-height: 30px;
    margin-right: 6px;
}

.view-type-1 .event__item--month {
    font-size: 20px;
    line-height: 30px;
}

.event__item--info {
    width: 100%;
    padding-left: 60px;
    font-weight: 500;
}

.event__item--info span {
    color: #747474;
}

.event__item:last-child {
    border-bottom: none;
}

.view-type-1 .event__item--title {
    width: 50%;
    font-size: 20px;
    line-height: 30px;
}

.view-type-1 .event__item--date {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.view-type-1 .event-state {
    width: 30%;
    color: grey;
    font-size: 20px;
    line-height: 30px;
}

.event__item--title {
    display: inline-block;
    width: 95%;
    margin-top: 4px;
    margin-bottom: -5px;
    font-size: 25px;
    letter-spacing: 0.2px;
}

.view-type-1 .event__item--title {
    margin-top: 0;
}

.event__item--address {
    margin-bottom: 0;
}

.event__item--contacts {
    margin-bottom: 16px;
    /* font-size: 0.9em; */
}

.event__item p span:first-child {
    margin-right: 10px;
}

.event__item span.email {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #757575;
}

.user-list li {
    list-style: none;
    border-radius: 50%;
    display: inline-block;
    margin-right: 3px;
    background-color: rgba(91, 183, 119, 0.87);
    width: 30px;
    height: 30px;
    position: relative;
}

.user-list li img {
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 30px;
    height: 30px;
}

.user-list li span {
    position: absolute;
    bottom: 105%;
    left: 31%;
    font-size: 10px;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #565656;
    display: block;
}

.user-list li:hover img {
    opacity: 0.4;
    cursor: pointer;
}

.user-list li:hover span {
    opacity: 1;
}

.users-of-event,
.user-list {
    display: inline-block;
}

.user-list {
    vertical-align: middle;
}

.menu-list-view,
.menu-expand-view {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 4px;
    border: 1px solid rgba(128, 128, 128, 0.64);
    cursor: pointer;
    opacity: 0.4;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
}

.menu-list-view:hover,
.menu-expand-view:hover,
.menu-list-view.active,
.menu-expand-view.active {
    opacity: 1;
}

.menu-list-view:before {
    content: "";
    position: absolute;
    top: 0.35em;
    left: 15%;
    width: 1em;
    height: 0.125em;
    border-top: 0.375em double #000;
    border-bottom: 0.125em solid #000;
}

.menu-expand-view:before {
    content: "";
    position: absolute;
    top: 0.35em;
    left: 15%;
    width: 1em;
    height: 0.125em;
    border-top: 0.25em solid #000;
    border-bottom: 0.25em solid #000;
}

.view-switcher {
    margin-top: 125px;
    text-align: right;
}

.spinner {
    /* Playing with these values (make sure to adjust HAML iter.) */
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.spinner > div {
    width: 9%;
    height: 35%;
    background: #000;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    /* I Use compass-animation for cross-browser */
    animation: fade 1s linear infinite;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    /* Loop through total ticks to rotate accordingly & change timing. */
}

.spinner > div.bar1 {
    -moz-transform: rotate(0deg) translate(0, -142%);
    -ms-transform: rotate(0deg) translate(0, -142%);
    -webkit-transform: rotate(0deg) translate(0, -142%);
    transform: rotate(0deg) translate(0, -142%);
    animation-delay: -1s;
}

.spinner > div.bar2 {
    -moz-transform: rotate(30deg) translate(0, -142%);
    -ms-transform: rotate(30deg) translate(0, -142%);
    -webkit-transform: rotate(30deg) translate(0, -142%);
    transform: rotate(30deg) translate(0, -142%);
    animation-delay: -0.91667s;
}

.spinner > div.bar3 {
    -moz-transform: rotate(60deg) translate(0, -142%);
    -ms-transform: rotate(60deg) translate(0, -142%);
    -webkit-transform: rotate(60deg) translate(0, -142%);
    transform: rotate(60deg) translate(0, -142%);
    animation-delay: -0.83333s;
}

.spinner > div.bar4 {
    -moz-transform: rotate(90deg) translate(0, -142%);
    -ms-transform: rotate(90deg) translate(0, -142%);
    -webkit-transform: rotate(90deg) translate(0, -142%);
    transform: rotate(90deg) translate(0, -142%);
    animation-delay: -0.75s;
}

.spinner > div.bar5 {
    -moz-transform: rotate(120deg) translate(0, -142%);
    -ms-transform: rotate(120deg) translate(0, -142%);
    -webkit-transform: rotate(120deg) translate(0, -142%);
    transform: rotate(120deg) translate(0, -142%);
    animation-delay: -0.66667s;
}

.spinner > div.bar6 {
    -moz-transform: rotate(150deg) translate(0, -142%);
    -ms-transform: rotate(150deg) translate(0, -142%);
    -webkit-transform: rotate(150deg) translate(0, -142%);
    transform: rotate(150deg) translate(0, -142%);
    animation-delay: -0.58333s;
}

.spinner > div.bar7 {
    -moz-transform: rotate(180deg) translate(0, -142%);
    -ms-transform: rotate(180deg) translate(0, -142%);
    -webkit-transform: rotate(180deg) translate(0, -142%);
    transform: rotate(180deg) translate(0, -142%);
    animation-delay: -0.5s;
}

.spinner > div.bar8 {
    -moz-transform: rotate(210deg) translate(0, -142%);
    -ms-transform: rotate(210deg) translate(0, -142%);
    -webkit-transform: rotate(210deg) translate(0, -142%);
    transform: rotate(210deg) translate(0, -142%);
    animation-delay: -0.41667s;
}

.spinner > div.bar9 {
    -moz-transform: rotate(240deg) translate(0, -142%);
    -ms-transform: rotate(240deg) translate(0, -142%);
    -webkit-transform: rotate(240deg) translate(0, -142%);
    transform: rotate(240deg) translate(0, -142%);
    animation-delay: -0.33333s;
}

.spinner > div.bar10 {
    -moz-transform: rotate(270deg) translate(0, -142%);
    -ms-transform: rotate(270deg) translate(0, -142%);
    -webkit-transform: rotate(270deg) translate(0, -142%);
    transform: rotate(270deg) translate(0, -142%);
    animation-delay: -0.25s;
}

.spinner > div.bar11 {
    -moz-transform: rotate(300deg) translate(0, -142%);
    -ms-transform: rotate(300deg) translate(0, -142%);
    -webkit-transform: rotate(300deg) translate(0, -142%);
    transform: rotate(300deg) translate(0, -142%);
    animation-delay: -0.16667s;
}

.spinner > div.bar12 {
    -moz-transform: rotate(330deg) translate(0, -142%);
    -ms-transform: rotate(330deg) translate(0, -142%);
    -webkit-transform: rotate(330deg) translate(0, -142%);
    transform: rotate(330deg) translate(0, -142%);
    animation-delay: -0.08333s;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.25;
    }
}

.global-spinner-container {
    position: fixed;
    z-index: 10000;
    background: #000;
    background: rgba(0, 0, 0, 0.75);
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.9;
}

.global-spinner-container .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 40px;
    margin-left: -22px;
    margin-top: -37px;
}

.global-spinner-container .spinner div {
    background: #fff;
    width: 12%;
    height: 35%;
}

.global-spinner-container .spinner-message {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 9px;
    text-align: center;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-weight: bold;
}

.event-wrapper {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
}

.notify-container {
    background: lightgreen;
    /*display: inline-block;*/
    padding: 15px;
    margin: 10px;
    position: relative;
    /*bottom: 10px;*/
    /*left: 10px;*/
    color: #616161;
    border-radius: 5px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.13);
}

.notify-container p {
    margin: 0;
}

.notify-close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    opacity: 0.3;
    cursor: pointer;
}

.notify-close-button:hover {
    opacity: 1;
}

.notify-close-button:before, .notify-close-button:after {
    position: absolute;
    left: 7px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
}

.notify-close-button:before {
    transform: rotate(45deg);
}

.notify-close-button:after {
    transform: rotate(-45deg);
}

.event-notify-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 100%;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.fade-out {
    opacity: 1;
    animation: fadeOut .5s ease-in 1 forwards;
}

.is-paused {
    animation-play-state: paused;
}

p.notify-event-name {
    cursor: pointer;
    color: rgba(10, 10, 10, 0.91);
}